# upgrade --upgrade pip setuptools wheel
jupyterhub==2.1.1
tornado
prometheus-client
numpy==1.19.5
matplotlib
cvxpy
cvxopt
scikit_learn
psutil
pydotplus
graphviz
tqdm
ipywidgets
torchsummary
torchvision
torch
PyYAML
Jinja2==2.11.2
nbclassic==0.3.7
jupyter_contrib_nbextensions==0.5.1
nbconvert==5.6.0
ipython
pandas==1.4.3
pyContracts
gym
git+https://github.com/BartKeulen/nbgrader.git@correct_collect
SQLAlchemy==1.4.0
jedi==0.17.2
jupyter-client==6.1.12
traitlets==5.1.1
pyparsing==2.4.7
pygame==2.1.2
opencv-python==4.5.5.64
jupyter_contrib_nbextensions
setuptools==59.8.0
git+https://github.com/python-manylinux-wheels/contracts.git
pre-commit
